<nav class="admin_no_login">
    <a href="/">main</a>
    <a href="/register">register</a>
    <a href="/login">login</a>
    <a href="/admin">admin</a>
    <a href="/logout">{{logout}}</a>
</nav>
<h1>brak dostępu do tej strony</h1>