<nav>
    <a href="/">main</a>
    <a href="/register">register</a>
    <a href="/login">login</a>
    <a href="/admin">admin</a>
    <a href="/logout">{{logout}}</a>
</nav>
<div id="main">
    <h1>Taki login jest już w bazie</h1>
</div>